.container {
	display: grid;
	margin: auto;
	width: 70%;
	min-height: 100vh;
	max-height: 100vh;
	grid-template-columns: 280px 60%;
	grid-template-rows: 10px 50%;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-areas: "header header " "search output " "search config " "search config ";
}

input {
	height: 50px;
	background-color: #ebebeb;
	border: rgba(0, 0, 0, 0);
	border-width: 1px;
	font-size: 15px;
	color: #333;
}

#video {
	grid-area: output;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#video-output {
	border-style: solid;
	min-width: 0;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

#video-output > video {
	max-width: 100%;
	max-height: 100%;
}

#video-output > div {
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%; 
}

.camera-switch {
	display: flex;
}

#avatars-container {
	margin-top: 16px;
	border: 1px black solid;
	height: 100%;
	overflow: scroll;
	background: linear-gradient(180deg, #ffffff 0%, hsl(204, 47%, 74%) 100%);
	border-radius: 10px;
	border-color: #222;
	border-style: solid;
	border-top-width: 4px;
}

#avatars-wrapper {
	height: 100%;
	margin: auto;
	width: 124px;
	text-align: center;
}

.avatar {
	height: 124px;
	width: 124px;
	border: 1px black solid;
	margin: 15px 0 15px 0;
	cursor: pointer;
}

.avatar-img {
	border-radius: 10px;
}

#search {
	grid-area: search;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

#configuration {
	grid-area: config;
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	min-width: 0;
}

#tabs-container {
	width: 100%;
}

.tabs {
	display: flex;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	justify-content: space-between;
	text-align: center;
}

.emotion-container {
	padding-top: 6px;
	overflow: auto;
	white-space: nowrap;
	padding-top: 20px;
}
/* .emotion-container > img {
	margin-top: 6px;
	border: solid 2px black;
	border-radius: 2px;
	display: inline-block;
	margin-right: 15px;

} */
.emotion-container > div {
	margin-top: 6px;
	border: solid 2px black;
	border-radius: 2px;
	display: inline-block;
	margin-right: 15px;
	width: 128px;
	height: 166px;
	background-position: center;
	background-size: cover;
	cursor: pointer;
}
.tabs > li {
	cursor: pointer;
	width: 100%;
	padding: 20px 20px 25px 20px;
	border-radius: 5px 5px 0 0;
}

.active {
	background-color: rgba(137, 122, 209, 0.31);
}
#gallery-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#tab-content {
	background-color: rgba(137, 122, 209, 0.31);
	height: 100%;
	padding: 15px;
	display: flex;
	flex-direction: column;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
